//tailwind config
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.sidebar {
  position: relative;
  left: 0;
  top: 0;
  // border-right: 1px solid #ccc;
}

.grid1 {
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 190px 260px;
  // justify-items: center;

  .box {
    // border: 1px solid black;
  }

  .box1 {
    // styles for .box1
  }

  .box2 {
    // styles for .box2
  }

  .box3 {
    grid-column: span 2;
    grid-row: span 1;
  }
}

//box outline
.midCard,
.bigCard,
.socialBox {
  border: 1px solid rgb(0, 0, 0, 0.08);
}
.midCardText {
  flex: 2;
}
.midCardPhoto {
  flex: 1;
}
.bigCard {
  // display: flex;
}

.bigCardText {
  width: 60%;
}

.bigCardPhotos {
  flex: 1;
  display: grid;
  padding-right: 20px;
  justify-content: right;
  align-items: center;
  justify-items: center;
  margin: auto 0;
  gap: 3px;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(2, 80px);
}
.grid2 {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(2, 150px);

  .social1 {
    grid-column: span 1;
    grid-row: span 2;
  }
}

.public-layout {
  display: flex;
  .sidebar {
    flex: 1;
  }
  .content {
    flex: 2;
  }
}
.form-container {
  margin-top: 15px;
  box-shadow: 0px 1px 3px 1px #d7d7d7;
  border-radius: 25px;
  padding: 5px 30px 10px 30px;
}

.form-input-field {
  background: #eee;
  height: 45px;
  padding: 0 10px;
  &:focus {
    outline: 1px solid rgba(14, 94, 243, 0.555);
  }
}
.form-textarea {
  padding: 10px;
  height: 30vh;
  resize: none;
}
.ext{
  font-size: 7px;
  line-height: 1px;
}

//responsive
@media (min-width: 926px) and (max-width: 1023px) {
  .sidebar {
    display: block;
  }
  .grid1 {
    height: 75%;
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 190px 260px;
    // justify-items: center;
    .bigCardPhotos {
      flex: 1;
      display: grid;
      padding-right: 20px;
      justify-content: right;
      align-items: center;
      justify-items: center;
      margin: auto 0;
      gap: 3px;
      grid-template-columns: repeat(2, 60px);
      grid-template-rows: repeat(2, 60px);
    }
  }
}

@media (min-width: 640px) and (max-width: 925px) {
  .sidebar {
    display: none;
  }
  .grid1 {
    height: 68%;
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 150px 220px;
    // justify-items: center;
    .bigCardPhotos {
      flex: 1;
      display: grid;
      padding-right: 20px;
      justify-content: right;
      align-items: center;
      justify-items: center;
      margin: auto 0;
      gap: 3px;
      grid-template-columns: repeat(2, 60px);
      grid-template-rows: repeat(2, 60px);
    }
  }
  .grid2 {
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(2, 120px);
  }
}
@media (min-width: 0px) and (max-width: 639px) {
  .sidebar {
    display: none;
  }
  .grid1 {
    height: 33%;
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 95px 150px;
    // justify-items: center;
    .bigCardPhotos {
      flex: 1;
      display: grid;
      padding-right: 20px;
      justify-content: right;
      align-items: center;
      justify-items: center;
      margin: auto 0;
      gap: 3px;
      grid-template-columns: repeat(2, 40px);
      grid-template-rows: repeat(2, 40px);
    }
  }
  .grid2 {
    display: grid;
    gap: 5px;
    justify-content: center;
    grid-template-columns: repeat(4, 77px);
    grid-template-rows: repeat(2, 77px);
  }
  .mid-card-text-span{
    font-size: 7px;
    margin: 0;
    padding:0;
  }
  .form-container {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
  }
}
